*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --graph-background: #292f38;
  --graph-foreground: #dbe9ff;
}

body {
  padding: 0;
  margin: 0;
}

.progress-bar {
  position: relative;
  width: 500px;
  height: 3em;
  background-color: #111;
  border-radius: 0.25em;
  color: #ffffff;
}

.progress-bar::before {

  content: attr(data-value);
  display: flex;
  align-items: center;
  position: absolute;
  left: .5em;
  top: .5em;
  bottom: .5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: #069;
  border-radius: 0.125em;
  padding: 1em;
}

.single-dimension {
  position: relative;
  align-items: center;
  width: 500px;
  height: 1.5em;
  color: #292f38;
}
.single-dimension::before {
  overflow: hidden;
  position: absolute;
  content: attr(data-value);
  width: calc(var(--width, 0) * 1%);
  color: var(--graph-foreground);
  background-color: var(--graph-background);
}
