*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --graph-background: #292f38;
  --graph-foreground: #dbe9ff;
}

body {
  padding: 2em;
  margin: 0;
}
._table {
  display: flex;
  width: 500px;
  background-color: var(--graph-foreground);
  flex-direction: column;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 2em;
  border-radius: 1em;
  border: 0.2em solid var(--graph-background);
}
._table h2 {
  width: 100%;
  height: 1em;
  margin: 0.25em 0em 0.25em 0em;
  padding: 0 0 1.17em 0;
  border-bottom: var(--graph-background) solid 0.1em;
}
._table_column {
  font-size: large;
  position: relative;
  width: 80%;
  margin: 0 0 0.25em 0;
}
._table_row {
  height: 1.25em;
  border-left: var(--graph-background) solid 0.125em;
  border-right: var(--graph-background) solid 0.125em;
  padding: 0 0 0 0.25em;
}
._table_row::before {
  content: attr(data-value);
  display: block;
  overflow: hidden;
  position: absolute;
  width: calc((var(--width, 0) * 1%) - 0.25em);
  height: 1.25em;
  background-color: var(--graph-background);
  color: var(--graph-foreground);
  margin: 0 0 0 -0.25em;
  padding: 0 0 0 0.25em;
}
